body,
html {
    margin: 0;
    height: 100%;
    overflow: scroll;
}

.navbar {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 126px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}

li.nav-item.active {
    color: #046EC8 !important;
}

.navbar-adbarkit-sub {
    top: 73px;
    left: 144px;
    width: 132px;
    height: 18px;
    text-align: center;
    font-size: 14px;
    line-height: 32px;
    font-family: Montserrat;
    font-weight: 500;
    letter-spacing: 0px;
    color: #003563;
    opacity: 1;
}

.navbar-logo {
    width: 218px;
    height: 70px;
    text-align: center;
    /* font: Semi Bold 44px/44px Montserrat; */
    font-weight: 500;
    font-size: 44px;
    line-height: 0px;
    font-family: Montserrat;
    letter-spacing: 0px;
    opacity: 1;
}

.navbar-ad {
    top: 0px;
    left: 0.19800567626953125px;
    width: 62px;
    height: 54px;
    text-align: center;
    font-weight: 500;
    font-size: 44px;
    line-height: 44px;
    font-family: Montserrat;
    letter-spacing: 0px;
    color: #046EC8;
}

.navbar-bar {
    top: 0px;
    left: 63px;
    width: 135px;
    height: 54px;
    text-align: center;
    font-weight: 'bold';
    font-size: 44px;
    line-height: 44px;
    font-family: Montserrat;
    letter-spacing: 0px;
    color: #003563;
}

.nav-item {
    top: 53px;
    left: 616px;
    height: 22px;
    text-align: left;
    font-size: 18px;
    line-height: 32px;
    font-family: Montserrat;
    letter-spacing: 0px;
    color: #000;
    opacity: 1;
}

.nav-item .home {
    width: 100px;
}

.nav-item .active {
    color: #046EC8;
}

a {
    color: #000;
    text-decoration: none;
    background-color: transparent;
}

.user-box {
    top: 33px;
    left: 1093px;
    width: 76px;
    height: 62px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 14px;
    opacity: 1;
}

.user-info {
    width: 110px;
    height: 38px;
    /* UI Properties */
    text-align: left;
    font-size: 14px;
    line-height: 20px;
    font-family: Montserrat;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin-left: 10px
}

.home-bg1 {
    height: 100vh;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 104%; */
    /* UI Properties */
    background: url('../img/Depositphotos_83202704_l-2015.png');
    background-repeat: no-repeat;
    /* background-size: 100%; */
    opacity: 1;
}

.banner-cash-advance {
    height: 100vh;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 104%; */
    /* UI Properties */
    background: url('../img/discount-bg.png');
    background-repeat: no-repeat;
    /* background-size: 100%; */
    opacity: 1;
}

.them-content {
    margin: 20px;
    padding: 20px;
}

.home-bg-1 {
    height: 100vh;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 104%; */
    /* UI Properties */
    background: url('../img/banner.png');
    background-repeat: no-repeat;
    /* background-size: 100%; */
    opacity: 1;
}

.home-bg2 {
    top: 902px;
    left: -2px;
    width: 100%;
    height: 830px;
    /* UI Properties */
    font-family: Montserrat;
    background: transparent url('../img/Depositphotos_243559328_l-2015.png') 0% 0% no-repeat padding-box;
    opacity: 0.7;
    background-repeat: no-repeat;
    background-size: 100%;
}

.home-box {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height: 500px;
    background-color: #fff;
    box-shadow: 0px 5px 30px #1E1A33;
    border-radius: 20px;
    opacity: 1;
    text-align: center;
    padding-top: 20px;
    margin-top: -29px;
    position: relative;
    z-index: 10;
}

.home-box .welcome-label {
    left: 621px;
    width: 155px;
    height: 29px;
    font-size: 24px;
    line-height: 44px;
    font-family: Montserrat;
    font-weight: bold;
    letter-spacing: 0px;
    color: #1E1A33;
    opacity: 1;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.adbarkit-border {
    width: 230px;
    height: 0px;
    border: 3px solid #046EC8;
    opacity: 1;
    margin: auto;
}

.home-box .logo-name {
    width: 215px
}

.home-box .adbarkit-logo {
    margin-left: auto;
    margin-right: auto;
    border-top: 3px solid #046EC8;
    border-bottom: 3px solid #046EC8;
    padding: 10px;
    width: 230px;
    font-weight: bold;
}

.home-box .label-2 {
    /* UI Properties */
    font-size: 20px;
    line-height: 32px;
    font-family: Montserrat;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0px;
    color: #003563;
    opacity: 1;
    margin-top: 55px;
    ;
}

.home-box .options {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    margin-top: 50px;
    width: fit-content;
}

.home-box .option-mechine {
    margin-left: auto;
    margin-right: auto;
    width: 53px;
    height: 69px;
    background: transparent url('../img/card-machine') 0% 0% no-repeat padding-box;
}

.options-col .option-label {
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    font-family: Montserrat;
    width: 148px;
    margin-top: 13px;
}

.home-box .option-doller {
    margin-left: auto;
    margin-right: auto;
    width: 53px;
    height: 69px;
    background: transparent url('../img/stack-of-dollar-bills.svg') 0% 0% no-repeat padding-box;
}

.home-bg2 .label-3 {
    text-align: center;
    font-size: 25px;
    margin-top: 100px;
    color: #C74C0E;
    opacity: 1;
}

.home-bg2 .label-4 {
    text-align: center;
    font-size: 16px;
    margin-top: 60px;
    letter-spacing: 0px;
    color: #000;
    opacity: 1;
    font-weight: 500;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.home-bg3 {
    width: 100%;
    height: 830px;
    /* UI Properties */
    font-family: Montserrat;
    background: transparent url('../img/Depositphotos_243559328_l-2015.png') 0% 0% no-repeat padding-box;
    mix-blend-mode: color-burn;
    opacity: 0.6;
    background-repeat: no-repeat;
    background-size: 100%;
}

.section-2 {
    width: 100%;
    height: 100%;
    /* UI Properties */
    font-family: Montserrat;
    background: transparent url('../img/Depositphotos_243559328_l-2015.png') 0% 0% no-repeat padding-box;
    mix-blend-mode: color-burn;
    background-repeat: no-repeat;
    background-size: 100%;
}

.section-2-row {
    margin-bottom: 100px;
}

.section-2-cash-machine {
    padding-top: 70px;
}

.section-3 {
    width: 100%;
    height: 75%;
    /* UI Properties */
    font-family: Montserrat;
    background: transparent url('../img/bg-3.png') 0% 0% no-repeat padding-box;
    mix-blend-mode: color-burn;
    background-repeat: no-repeat;
    background-color: #091623;
    background-size: 100%;
    padding-top: 46px;
    padding-bottom: 46px;
}

._discount-heading {
    text-align: center;
    font: Semi Bold 36px/44px Montserrat;
    letter-spacing: 0px;
    color: #1E1A33;
    opacity: 1;
}

._section-3-heading {
    padding-left: 250px;
    color: #FFFFFF;
}

.-section-3-main-row {
    margin-top: 30px;
    margin-bottom: 46px;
}

.section-video {
    margin-top: 46px;
}

.section3-left-para p {
    color: #82C5FF !important;
}

.section3-left-para h2 {
    color: #FFFFFF;
}

.section-3 button {
    background-color: #046EC8;
    padding: 15px 32px;
    text-align: center;
    border: none;
    color: #FFFFFF;
}

.section-4 h1 {
    color: #046EC8;
    padding: 46px 30px;
}

.section-4 {
    background: url('../img/bg-3.png') 0% 0% no-repeat padding-box;
    text-align: center;
    height: 100%;
    width: 100%;
    mix-blend-mode: color-burn;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 46px;
    padding-bottom: 46px;
}

.section-4-main {
    text-align: center;
}

.section-4-button {
    background-color: #C74C0E;
    padding: 20px 10px 20px 10px;
    border: none;
    font-weight: bold;
    color: #FFFFFF;
    /* margin-top: 46px;
    margin-bottom: 30px; */
}

.section-5 {
    margin-top: 0px;
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: #82C5FF;
}

.section-5-main {
    padding: 25px 15px 25px 15px;
}

.section-5-image {
    width: 30px;
    margin-right: 20px;
}

.section-5-main h2 {
    font-weight: bold;
}

.section-3-image {
    width: 30px;
    margin-right: 20px;
    filter: invert(var(0)) sepia(0) saturate(va1) hue-rotate(var(0deg)) brightness(5);
}

.rotateimg180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    width: 30px;
    margin-left: 20px;
}

.footer-container {
    text-align: center;
}

.footer-text {
    font-size: x-large;
}

.footer-text span {
    color: #82C5FF;
}

.footer-text-copy {
    color: #82C5FF;
}


/* #82C5FF */


/* Advance cash program */

._advance-heading {
    text-align: center;
    font: Semi Bold 36px/44px Montserrat;
    letter-spacing: 0px;
    color: #1E1A33;
    opacity: 1;
    font-weight: bold;
}

._advance-heading span {
    font-size: 16px;
}

._section-intro {
    text-align: center;
    padding: 50px 10px 50px 10px;
}

._section-2-seco-heading {
    color: #046EC8;
    text-align: center;
    border: black;
    padding: 20px 10px 20px 10px;
}

._section-2-para {
    text-align: center;
    padding-left: 240px;
    padding-right: 240px;
}

.section-advance-program {
    margin-top: 46px;
}

.section-advance-program h3 {
    font-weight: bold;
}

.section-advance-program p {
    text-align: center;
}

.para-align-center {
    text-align: center;
}

.para-align-center button {
    margin-top: 46px;
    margin-bottom: 46px;
    background-color: #C74C0E;
    padding: 20px 10px 20px 10px;
    border: none;
    font-weight: bold;
    color: #FFFFFF;
}